@page "/"

<PageTitle>Home</PageTitle>

<h1>Welkom bij de Qwerty naar Azerty Translator</h1>
De webapp waarmee jullie eenvoudig de antwoorden van de proefpersonen kunnen vertalen naar begrijpelijke taal.
<p/>
PS. I love Kai.
<br/>
Groetjes,  
Elline